nav li a:hover {
  -webkit-text-stroke-width: 0.5px;
}
@media (max-width: 576px) {
  .video_width {
    max-width: 353px;
    min-height: 353px;
  }
}
html {
  scroll-behavior: smooth;
}
.accordion-content {
  padding: 10px;
  background-color: #fff;
  overflow: hidden;
  max-height: 0; /* initially hidden */
  transition: max-height 0.3s ease; /* transition on max-height property */
}

.accordion-content.open {
  max-height: 1000px; /* Adjust as needed */
}
